:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFFFFF;
    --background-button-color: #2196F3;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A;
    --border-color: #EEE;  
  }
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--title-text-color);
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Logotype*/
.header-logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.logo-blue{
    color: var(--background-button-color);
}

.header-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;

    
}
.header-list-item:not(:last-child){
    margin-right: 50px;
}
.header-list:hover{
    color: var(--background-button-color);
}

.header-link-one{
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
color: var(--background-button-color);
}
.header-link-one::after{
    display: block;
    content: '';
    width: 100px;
    height: 5px;
    background-color: var(--background-button-color);
    border-radius: 4px;
  }
.header-link{
    text-decoration: none;
    color: var(--title-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
    
}
/*Contacts*/
.contacts-list{
    padding-left: 344px ;
    display: flex;
    
}
.contacts-list-item{
    display: flex;
}
.contacts-mail{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.email{
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
}
.icon{
    fill: var(--primary-text-color);
    display: flex;
    align-items: center;
}
.contacts-list .icon:hover{
    color: var(--background-button-color);
}
.icon:hover .contacts-phone{
    fill: var(--background-button-color);
}
.icon:hover .contacts-mail{
    fill: var(--background-button-color);
}
.contacts-phone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--primary-text-color);
}
.telephone{
    color: var(--primary-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
margin-left: 30px;
}
/*Кнопка "Усі"*/
.button-one{
    background: var(--background-button-color);
    color: var(--second-text-color);
    border-radius: 4px;
    border: none;
 text-align: center;
 font-family: 'Roboto';
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 26px;
 letter-spacing: 0.48px;
 padding: 6px 25px;
 cursor: pointer;
 }
 
 /*Інші кнопки*/
 .button-list{
     padding-bottom: 50px;
     padding-top: 94px;
     padding-left: 300px;
     display: flex;
 }
 .button-list-item{
     padding: 8px;
     
 }
 .button{
     border-radius: 4px;
 background-color: var(--background-team-color);
 color: var(--button-color);
 border: none;
 text-align: center;
 font-family: 'Roboto';
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 26px;
 letter-spacing: 0.48px;
 padding: 6px 25px;
 cursor: pointer;
 }
 .button:hover{
     background-color: var(--background-button-color);
     color: var(--second-text-color);
 }
 /*Картинки*/
 .section{
     padding-bottom: 94px;
 }
 .block-list{
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
 
 }
 .block-item{
     width: 370px;
 border: 1px solid var(--border-color);
 background-color: var(--second-text-color);
 box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
 margin-bottom: 30px;
 }
 .block-link:hover .overley{
    transform: translateY(0);
    opacity: 1;
 }
 .block-img{
     width: 100%;
 }
.block-wrap{
    position: relative;
    overflow: hidden;
}
.overley{
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    font-family: "Roboto", sans-serif;
    color: var(--second-text-color);
    transform: translateY(100%);
    transition: transform 250ms linear, opacity 250ms linear;
    opacity: 0;
}
 /*Заголовки карток*/
 .block-title{
     color: var(--button-color);
     font-family: 'Roboto';
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 36px;
 letter-spacing: 1.08px;
 padding-bottom: 4px;
 padding-top: 20px;
 padding-left: 24px;
 }
 /*Текст карток*/
 .block-text{
     color: var(--block-text-color);
     font-family: 'Roboto';
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 30px;
 letter-spacing: 0.48px;
 padding-left: 24px;
 margin-bottom: 20px;
 }
/*Footer*/
.footer{
    background-color: var(--secondary-background-color);
    padding-top: 94px;
    padding-bottom: 60px;
    display: flex;
}
.footer-wrap{
  display: flex;
}
.footer-dates{
    display: flex;
    flex-direction: column;
}
.logo-white{
    color: var(--second-text-color);
}
.address-div{
    display: flex;
    flex-direction: column;
}
.address-text{
    color: var(--second-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-top: 20px;
margin-bottom: 9px;

}
.footer-email{
    color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-bottom: 9px;

}
.footer-email:hover{
  color: var(--background-button-color);
}
.footer-tel{
    color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
}
.footer-tel:hover{
  color: var(--background-button-color);
}

.footer-div{
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}
.footer-title{
    color: var(--second-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.footer-list{
    display: flex;
    padding-top: 32px;
}
.footer-svg{
    width: 20px;
    height: 20px;
}
.footer-svg:hover{
  fill: var(--second-text-color);
  background-color: #2196F3;
}
.footer-item{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.10);;
}
.footer-svg{
  width: 20px;
  height: 20px;
  cursor: pointer;     
}
.footer-item:hover{
  fill: var(--second-text-color);
  background-color: #2196F3;
}
.footer-form-div{
  margin-left: 105px;
}
.form-title{
  color: var(--second-text-color);
  font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-bottom: 20px;
}
.footer-form-input{
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background-color: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 15px;
padding-bottom: 15px;
padding-right: 295;
padding-left: 16px;
width: 300px;
color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
}
.footer-form-input::placeholder{
  color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
}
.form-button{
  color: var(--second-text-color);
  text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-weight: 700;
line-height: 30px; 
letter-spacing: 0.96px;
background-color: var(--background-button-color);
width: 200px;
height: 50px;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-bottom: 10px;
padding-right: 62px;
padding-right: 28px;
margin-left: 12px;
cursor: pointer;
}
.form-button-img{
  position: relative;
  right: 45px;
  top: 5px;
} 