:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFF;
    --background-button-color: #2196F3;
    --background-team-color: #F5F4FA;
    --logo-color: #000;
    --secondary-background-color: #2F303A; 
    --border-color: #AFB1B8; 
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container{
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
  }
  body{
      padding: 0;
      margin: 0;
      color: var(--primary-text-color);
      background-color: var(--second-text-color);
      font-size: 14px;
  }
  /*header*/
  .header{
      padding-top: 24px;
      padding-bottom: 28px;
      border-bottom:1px solid var(--primary-text-color) ;
  }
  .header-wraper{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  /*Logotype*/
  .header-logo{
      color: var(--logo-color);
      font-family: 'Raleway';
      font-size: 26px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.78px;
      text-decoration: none;
      
  }
  .logo-blue{
      color: var(--background-button-color);
  }
  
  .header-list{
      color: var(--title-text-color);
      text-decoration: none;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      display: flex;
      margin: 0;
      transition: color 250ms var(--time-function); 
      animation-name: chColorlist;
  }
  @keyframes chColorlist{
    0%{
        color: var(--title-text-color);
    }
    100%{
        color: var(--background-button-color);
    }
  }
  .header-list-item:not(:last-child){
      margin-right: 50px;
  }
  .header-list:hover{
      color: var(--background-button-color);
  }
  
  .header-link-one{
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  color: var(--background-button-color);
  position: relative;
  }
  .header-link-one.current:after{
    display: block;
    position: absolute;
    bottom: -33px;
    content: '';
    width: 100%;
    height: 5px;
    background-color: var(--background-button-color);
    border-radius: 4px;
    margin-top: 28px;
    transition: background-color 250ms var(--time-function) ;
  }
  .header-link-one:hover.current:after{
    background-color: #51a9f2;
    transition: background-color 250ms var(--time-function);
    animation-name: chCurrent;

  }
  @keyframes chCurrent{
    0%{
       background-color: var(--background-button-color);
    }
    100%{
       background-color: #51a9f2;
    }
}
  .header-link{
      text-decoration: none;
      color: var(--title-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chLink;
  }
  @keyframes chLink{
    0%{
        color: var(--title-text-color);
    }
    100%{
        color: var(--background-button-color);
    }
}
  .header-link:hover,
  .header-link:focus{
      color: var(--background-button-color);
      
  }
  /*Contacts*/
  .contacts-list{
      padding-left: 344px ;
      display: flex;
      
  }
  .contacts-list-item{
      display: flex;
  }
  .contacts-mail{
      width: 16px;
      height: 12px;
      margin-right: 10px;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
  }
  .email{
      color: var(--primary-text-color);
      font-family: 'Roboto';
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      
  }
  .icon{
      fill: var(--primary-text-color);
      display: flex;
      align-items: center;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: var(--time-function);
      animation-name: chIcon;
  }
  @keyframes chIcon{
    0%{
        fill: var(--primary-text-color);
    }
    100%{
       fill: var(--background-button-color);
    }
}
  .contacts-list .icon:hover{
      color: var(--background-button-color);
  }
  .icon:hover .contacts-phone{
      fill: var(--background-button-color);
  }
  .icon:hover .contacts-mail{
      fill: var(--background-button-color);
  }
  .contacts-phone{
      width: 10px;
      height: 16px;
      margin-right: 10px;
      fill: var(--primary-text-color);
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
  }
  .telephone{
      color: var(--primary-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-left: 30px;
  }
  
  .post{
   background-image: url(../imges/Imgfon.png); 
   padding-top: 200px;
   padding-bottom: 200px;
  }
  .post-title{
      color: var(--second-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; 
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin: 0 auto;
  }
  .post-button{
      color: var(--second-text-color);
      background: var(--background-button-color);
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.96px;
      border-radius: 4px;
      border: none;
      padding: 10px 32px;
      margin: 0 auto;
      text-align: center;
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      margin-top: 30px;
      transition-property: background;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chButton;
  }
  @keyframes chButton{
    0%{
        background: var(--background-button-color);
    }
    100%{
        background: rgb(35, 87, 183);
    }
}
  .post-button:hover{
    background: rgb(35, 87, 183);
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition:
    opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms,
    visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  }
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--second-text-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
  }
  .modal-close-button {
    margin-top: 8px;
    margin-left: 490px;
    width: 30px;
    height: 30px;
    background-color: var(--second-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../imges/cross1.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
  }
  .modal-icon {
    fill: var(--logo-color);
    align-items: center;
    transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chmodalIcon;
  }
  @keyframes chmodalIcon{
    0%{
        fill: var(--logo-color);
    }
    100%{
       fill: var(--background-button-color);
    }
}
  .modal-icon:hover,
  .modal-icon:focus {
    fill: var(--background-button-color);
  }
  
  /*FORM MODAL WINDOW*/
  .modal-form {
    width: 528px;
    padding-right: 40px;
    padding-left: 40px;
  }
  .modal-form-title {
    color: var(--title-text-color);
    text-align: center;
font-family: 'Roboto';
font-size: 20px;
font-weight: 700;
letter-spacing: 0.6px;
padding-bottom: 12px;
  }
  .modal-form-label {
    display: flex;
    margin-bottom: 4px;
    font-family: 'Roboto';
font-size: 12px;
font-weight: 400;
letter-spacing: 0.12px;
color: var(--primary-text-color);
  }
  .modal-form-field {
    position: relative;
    margin-bottom: 10px;
  }
  .form-input {
    padding: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    width: 448px;
    cursor: auto;
    transition-property: outline border-color;
      transition-duration: 250ms;
      transition-timing-function: var(--time-function);
      animation-name: chInput;
  }
  @keyframes chInput{
    0%{
        border-color:rgba(33, 33, 33, 0.2) ;
    }
    100%{
        outline: none;
        border-color: var(--background-button-color);
    }
}
  .modal-form-icon {
    position: absolute;
    left: 12px;
    top: 28px;
    fill: rgba(33, 33, 33, 1);
  }
  .comment {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-property: outline border-color;
      transition-duration: 250ms;
      transition-timing-function: var(--time-function);
      animation-name: chComment;
  }
  @keyframes chComment{
    0%{
        border-color:rgba(33, 33, 33, 0.2) ;
    }
    100%{
        border-color: var(--background-button-color);
    }
}
  .comment:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  .comment::placeholder {
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    color: rgba(117, 117, 117, 0.5);
  }
  .form-input:focus {
    outline: none;
    border-color: var(--background-button-color);
  }
  .form-input:focus + .modal-form-icon {
    fill: var(--background-button-color);
  }
  .modal-form-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .modal-form-policy-text {
    display: flex;
    margin-left: 7px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
  }
  .modal-form-policy-icon {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    cursor: pointer;
  }
  
  .modal-form-policy-link {
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
    text-decoration-line: underline;
    color: var(--background-button-color);
  }
  .agree-btn {
    padding: 10px 30px;
    min-width: 200px;
    text-align: center;
    color: var(--second-text-color);
    background-color: var(--background-button-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Roboto';
    letter-spacing: 0.96px;
    transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chAgree;
  }
  @keyframes chAgree{
    0%{
        background-color: var(--background-button-color) ;
    }
    100%{
        background-color: #188ce8;
    }
}
  .agree-btn:hover,
  .agree-btn:focus {
    background-color: #188ce8;
  }
  
  /*benefits*/
  .benefits{
      padding-top: 94px;
  
  }
  .benefits-list{
      display: flex;
      align-items: flex-start;
  }
  .benefits-block{
      width: 270px;
  }
  .benefits-block:not(:last-child){
      margin-right: 30px;
  }
  .benefits-letter-one::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg1.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-letter-two::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg2.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-letter-three::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg3.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-letter-four::before{
      content: '';
      display: block;
      background-color: var(--background-team-color);
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
      border-radius: 4px;
      background-image: url(../imges/benefitsimg4.png);
      background-repeat:no-repeat ;
      background-position: center;
  }
  .benefits-name{
      color: var(--title-text-color);
      font-family: 'Roboto';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      padding-bottom: 10px;
  }
  .benefits-text{
     color: var(--primary-text-color);
     font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  
  }
  /*Activity*/
  .activity{
      padding-top: 118px;
      padding-bottom: 94px;
  }
  /*Title to three fotos*/
  .activity-title{
      color: var(--title-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
  }
  .activity-list-imges{
      display: flex;
      justify-content: space-between;
  }
  .activity-imges{
      width: 370px;
  }
  .activity-text{
      color: var(--second-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.80);
  padding: 27px 107px;
  position: relative;
  bottom: 70px;
  cursor: pointer;
  }
  .activity-text:last-child{
      padding: 27px 95px;
  }
  /*Team*/
  .team{
      padding-top: 94px;
      padding-bottom: 94px;
      background-color: var(--background-team-color);
  }
  .team-list{
      display: flex;
  
  }
  .team-card{
      width: 270px;
      border-radius: 0px 0px 4px 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
  }
  .team-card:not(:last-child){
      margin-right: 30px;
  }
  .team-name{
      color: var(--title-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 30px;
  }
  .team-position{
      color: var(--primary-text-color);
      text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 16px;
  }
  .team-img-list{
      display: flex;
      justify-content: space-between;
      margin-right: 32px;
      margin-left: 32px;
      margin-bottom: 30px;
  }
  .team-img-list-item{
      width: 44px;
      height: 44px;
      border-radius: 50%;
      fill: var(--border-color);
      display: flex;
      justify-content: center;
      align-items: center;
      transition-property: fill background-color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chItem;
  }
  @keyframes chItem{
    0%{
       fill: var(--border-color) ;
    }
    100%{
        fill: var(--second-text-color);
      background-color: #2196F3;
    }
}
  .team-svg{
      width: 20px;
      height: 20px;
      cursor: pointer;     
  }
  .team-img-list-item:hover{
      fill: var(--second-text-color);
      background-color: #2196F3;
  }
  /*Last section*/
  .last-section{
      padding-top: 94px;
      padding-bottom: 94px;
  }
  .last-section-title{
      color: var(--title-text-color);
      text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
  }
  .last-section-list{
      display: flex;
      margin-left: -30px;
  }
  .last-section-item{
      margin-right: 30px;
  }
  .last-section-div{
      width: 170px;
      height: 92px;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      fill: var(--border-color);
      transition-property: fill border-color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chDiv;
  }
  @keyframes chDiv{
    0%{
       fill: var(--border-color) ;
    }
    100%{
        fill: var(--background-button-color);
      border-color: var(--background-button-color);
    }
}
  .last-section-div:hover,
  .last-section-div:focus{
      fill: var(--background-button-color);
      border-color: var(--background-button-color);
  }
  .last-section-svg{
      width: 106px;
      height: 60px;
  }
  /*Footer*/
  .footer{
      background-color: var(--secondary-background-color);
      padding-top: 94px;
      padding-bottom: 60px;
      display: flex;
  }
  .footer-wrap{
    display: flex;
  }
  .footer-dates{
      display: flex;
      flex-direction: column;
  }
  .logo-white{
      color: var(--second-text-color);
  }
  .address-div{
      display: flex;
      flex-direction: column;
  }
  .address-text{
      color: var(--second-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 9px;
  
  }
  .footer-email{
      color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  transition-property: color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chEmail;
  
  }
  @keyframes chEmail{
    0%{
        color: rgba(255, 255, 255, 0.60);
    }
    100%{
        color: var(--background-button-color);
    }
  }
  .footer-email:hover{
    color: var(--background-button-color);
  }
  .footer-tel{
      color: rgba(255, 255, 255, 0.60);
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  transition-property: color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chTel;
  }
  @keyframes chTel{
    0%{
        color: rgba(255, 255, 255, 0.60);
    }
    100%{
        color: var(--background-button-color);
    }
  }
  .footer-tel:hover{
    color: var(--background-button-color);
  }
  
  .footer-div{
      margin-left: 70px;
      display: flex;
      flex-direction: column;
  }
  .footer-title{
      color: var(--second-text-color);
      font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  }
  .footer-list{
      display: flex;
      padding-top: 32px;
  }
  .footer-svg{
      width: 20px;
      height: 20px;
      transition-property: fill background-color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      cursor: pointer;
      animation-name: chSvg; 
  }
  @keyframes chSvg{
    0%{
        fill: none;
    }
    100%{
        fill: var(--second-text-color);
    background-color: #2196F3;
    }
  }
  .footer-svg:hover{
    fill: var(--second-text-color);
    background-color: #2196F3;
  }
.footer-item{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.10);
    transition-property: fill background-color;
      transition-duration: 250ms;
      transition-timing-function: var(--time-function);
      animation-name: chFitem;
    
}
@keyframes chFitem{
    0%{
        fill: var(--border-color);
    }
    100%{
        fill: var(--second-text-color);
    background-color: #2196F3;
    }
}
.footer-item:hover{
    fill: var(--second-text-color);
    background-color: #2196F3;
}
.footer-form-div{
    margin-left: 105px;
}
.form-title{
    color: var(--second-text-color);
    font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-bottom: 20px;
}
.footer-form-input{
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background-color: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 15px;
padding-bottom: 15px;
padding-right: 295;
padding-left: 16px;
width: 300px;
color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
}
.footer-form-input::placeholder{
    color: rgba(255, 255, 255, 0.60);
font-family: 'Roboto';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: 0.48px;
}
.form-button{
    color: var(--second-text-color);
    text-align: center;
font-family: 'Roboto';
font-size: 16px;
font-weight: 700;
line-height: 30px; 
letter-spacing: 0.96px;
background-color: var(--background-button-color);
width: 200px;
height: 50px;
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-bottom: 10px;
padding-right: 62px;
padding-right: 28px;
margin-left: 12px;
cursor: pointer;
transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function:  var(--time-function);
      animation-name: chfBtn;
}
@keyframes chfBtn{
    0%{
        background-color: var(--background-button-color);
    }
    100%{
        background-color: rgb(35, 87, 183);
    }
}
.form-button:hover{
    background-color: rgb(35, 87, 183);
}
.form-button-img{
    position: relative;
    right: 45px;
    top: 5px;
} 