.benefits {
  padding-top: 60px;
  &__block {
    width: 450px;
  }
  &__letter__one::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/mobile/benefitsone-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../imges/mobile/benefitsone-mobile@2x.png);
      }
  }
  &__letter__two::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/mobile/benefitstwo-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../imges/mobile/benefitstwo-mobile@2x.png);
      }
  }
  &__letter__three::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/mobile/benefitsthree-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../imges/mobile/benefitsthree-mobile@2x.png);
      }
  }
  &__letter__four::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/mobile/benefitsfour-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../imges/mobile/benefitsfour-mobile@2x.png);
      }
  }
  &__title {
    color: $title-text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  &__text {
    color: $primary-text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__block {
      width: 354px;
      &:nth-child(odd) {
        margin-right: 30px;
      }
    }
    &__letter__one::before {
      width: 354px;
      background-image: url(../imges/tablet/benefitsone-tablet.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/tablet/benefitsone-tablet@2x.png);
    }
  }
    &__letter__two::before {
      width: 354px;
      background-image: url(../imges/tablet/benefitstwo-tablet.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/tablet/benefitstwo-tablet@2x.png);
    }
    }
    &__letter__three::before {
      width: 354px;
      background-image: url(../imges/tablet/benefitsthree-tablet.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/tablet/benefitsthree-tablet@2x.png);
    }
    }
    &__letter__four::before {
      width: 354px;
      background-image: url(../imges/tablet/benefitsfour-tablet.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/tablet/benefitsfour-tablet@2x.png);
    }
    }
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    &__list {
      align-items: flex-start;
    }
    &__block {
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &__letter__one::before {
      width: 270px;
      background-image: url(../imges/desktop/benefitsone-desktop.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/desktop/benefitsone-desktop@2x.png);
    }
  }
    &__letter__two::before {
      width: 270px;
      background-image: url(../imges/desktop/benefitstwo-desktop.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/desktop/benefitstwo-desktop@2x.png);
    }
    }
    &__letter__three::before {
      width: 270px;
      background-image: url(../imges/desktop/benefitsthree-desktop.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/desktop/benefitsthree-desktop@2x.png);
    }
    }
    &__letter__four::before {
      width: 270px;
      background-image: url(../imges/desktop/benefitsfour-desktop.png);
      @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../imges/desktop/benefitsfour-desktop@2x.png);
    }
    }
  }
}
/*.benefits {
  padding-top: 94px;
  &__list {
    display: flex;
    align-items: flex-start;
  }
  &__block {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__letter__one::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/benefitsimg1.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__letter__two::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/benefitsimg2.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__letter__three::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/benefitsimg3.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__letter__four::before {
    content: "";
    display: block;
    background-color: $background-team-color;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-image: url(../imges/benefitsimg4.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    color: $title-text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  &__text {
    color: $primary-text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}*/
