 .buttons{
     padding-bottom: 50px;
     padding-top: 94px;
     padding-left: 300px;
     display: flex;
     &__item{
        padding: 8px;
     }
     .button-one{
        background: $background-button-color;
        color: var(--second-text-color);
        border-radius: 4px;
        border: none;
     text-align: center;
     font-family: 'Roboto';
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 26px;
     letter-spacing: 0.48px;
     padding: 6px 25px;
     cursor: pointer;
     }
     .button{
        border-radius: 4px;
    background-color: $background-team-color;
    color: $button-color;
    border: none;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    padding: 6px 25px;
    cursor: pointer;
    transition-property: background-color color;
    transition-duration: 250ms;
    transition-timing-function: $time-function;
    &:hover{
        background-color:$background-button-color;
        color: $second-text-color;  
    }
    }
 }
