
.post {
    background-image: url(../imges/mobile/imgfon-mobile.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    background-image: url(../imges/mobile/imgfon-mobile@2x.jpg);
}
    &__title {
      color: $second-text-color;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 900;
line-height: 162%; 
letter-spacing: 1.56px;
text-align: center;
margin-bottom: 30px;
font-family: 'Roboto', sans-serif;
  
    }
    &__button {
      @include btn;
      padding: 10px 32px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin-top: 30px;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: $time-function;
      animation-name: chButton;
      &:hover {
        background-color: rgb(35, 87, 183);
      }
    }
  }
  @media screen and (min-width:768px){
    .post{
      background-image: url(../imges/tablet/imgfon-tablet.jpg);
@media screen and (min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    background-image: url(../imges/tablet/imgfon-tablet@2x.jpg);
}
    }
  }
  
  @media screen and (min-width: 1200px){
    .post {
      padding-top: 200px;
       padding-bottom: 200px;
       background-image: url(../imges/desktop/imgfon-desktop.png);
       @media screen and (min-device-pixel-ratio:2),
       (min-resolution:192dpi),
       (min-resolution:2dppx) {
           background-image: url(../imges/desktop/imgfon-desktop@2x.jpg);
       }
      &__title {
        font-size: 44px;
        line-height: 136%;
        letter-spacing: 2.64px;
      }
      &__button{
        padding: 10px 32px;
      }
    }
  }

  
//   &__button {
//     padding: 10px 32px;
    
//   }
//   @keyframes chButton {
//     0% {
//       background-color: $background-button-color;
//     }
//     100% {
//       background-color: rgb(35, 87, 183);
//     }
//   }
// }
