.team{
  padding-top: 94px;
  background-color: $background-team-color;
  &__title{
    @include title;
    padding-bottom: 30px;
  }
  &__card {
    width: 450px;
    border-radius: 0px 0px 4px 4px;
    background: $second-text-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  &__name {
    color: $title-text-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-top: 30px;
  }
  &__position {
    color: $primary-text-color;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
   &__img-list {
    display: flex;
    justify-content: space-evenly;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  &__img-item {
    width: 44px;
    height: 44px;
    display: flex;
    fill: $border-color;
    justify-content: center;
    align-items: center;
    transition-property: fill background-color;
    transition-duration: 250ms;
    transition-timing-function: $time-function;
    animation-name: chItem;
    border-radius: 50%;
    cursor: pointer;
   &:hover{
    fill: $second-text-color;
    background-color: #2196f3;
   }
  }
  &__svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
@media screen and (min-width:768px){
  .team{
    padding-bottom: 60px;
  
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__card {
    width: 354px;
    margin-top: 30px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
}
}
}
@media screen and (min-width:1200px){
  .team{
    padding-bottom: 94px;
    &__list{
      justify-content: space-between;
    }
&__card{
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
&__img-list{
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}
  }

}
