$primary-text-color: #757575;
$title-text-color: #212121;
$second-text-color: #fff;
$background-button-color: #2196f3;
$background-team-color: #f5f4fa;
$logo-color: #000;
$secondary-background-color: #2f303a;
$border-color: #afb1b8;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
