body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: $primary-text-color;
    background-color: $second-text-color;
    font-size: 14px;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
    margin-top: 0;
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: $title-text-color;
}
img{
    display: block;
    width: 100%;
}
.container{ 
    width: 480px; 
    padding-left: 15px; 
    padding-right: 15px; 
    margin: 0 auto; 
} 
@media screen and (min-width: 768px){ 
    .container{ 
        width: 768px; 
    } 
} 
@media screen and (min-width: 1200px){ 
    .container{ 
        width: 1200px; 
    } 
}